<div class="container">
	<h1>Your cocktails</h1>
	<div class="div">
		<% if @cocktail.photo? %>
		  <%= cl_image_tag @cocktail.photo.path, width: 400, height: 400, crop: :fill %>
		<% end %>
	<h2><%= @cocktail.name %></h2>
	<% @cocktail.doses.each do |dose| %>
		<p><%= "#{dose.description} - #{dose.ingredient.name}" %></p>
	<% end %>
	</div>
	<div class="div">
		<%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn btn-primary" %>
	</div>
	<div class="div">
		<%= link_to "Back", cocktails_path, class: "btn btn btn-primary" %>
	</div>
</div>
